@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme {
	--color-vct-cell-inherit: black;
	--inset-shadow-vct: inset 0px 0px 3rem 0rem
		var(--tw-inset-shadow-color);

	--spacing-vct-cell-height: 40px;
	--spacing-vct-col-min: 40px;
	--spacing-vct-col-max: unset;
	--spacing-vct-col: max-content;
}
